#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

.bottomNav {
    display:flex;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
 
  text-align: center;
}

.container{
    background-color:#d7ccc8;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
   
    
}