#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

.bottomNav {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.container {
  background: linear-gradient(
    to right,
    #0f0c29,
    #302b63,
    #24243e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Acme", sans-serif;
}

.card-style {
  display: flex;
  color: white;

  margin-top: 20px;
  justify-content: center;
  font-family: "Acme", sans-serif;
}

#signs {
  font-family: "Acme", sans-serif;
  background: linear-gradient(
    to right,
    #c2e59c,
    #64b3f4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.signs {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 60px;
  right: 0;
  font-family: "Acme", sans-serif;
}
